<!DOCTYPE html>
<html>
<head>
  <title>Dice Roll</title>
  <style>
  .navbar {
      display: flex;
      justify-content: space-between;
    }
    </style>
</head>

<body>
  <div class="navbar">
    <div><a href="/">Home</a></div>
    <div><a href="/rock">Play Rock</a></div>
    <div><a href="/paper">Play Paper</a></div>
    <div><a href="/scissors">Play Scissors</a></div>
    <div><a href="/rules">Rules</a></div>
  </div>

  <%= yield %>
	
</body>
</html>
